extends ./layout/index
block slider 
  .slider 
    h1 Bienvenido 
    em Tu sueño empieza aquí

block contenido 


  .container
    include ./layout/coches

  

  .container
    h2.mt-5.text-center Opiniones de nuestros clientes
    .row 
      include ./layout/testimoniales